.app {
  text-align: center;
}
#root{
  height: 600px;
}
body{
  background-image: url("../asset/image/4249454.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #2a9d8f;
}
h1{
  color: white;
}